@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    text-align: center;
    margin: 50px;
    padding: 5px;
}

input{
    margin: 50px;
    padding: 10px;
    width: 14%;
    
}

.container{
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}

p{
    margin: 20px;
    font-size: x-large;
}